{{#if queryForm}}
<p class="text">ADD YOUR QUERY</p>
<div>
    <form>
      <div class="form-group">
        <label for="author">Name of author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="topic">Topic</label>
        {{input value=topic id="topic"}}
      </div>

      <div class="form-group">
        <label for="query">Enter the question</label>
        {{input value=query id="query"}}
      </div>

      <div class="form-group">
        <label for="bedrooms">Image of question</label>
        {{input value=image id="image"}}
      </div>
      <button {{action 'saveQuery'}}>Submit question</button>
    </form>
  </div>
{{else}}
<button {{action 'showQueryForm'}} class="btn">toggleQueryForm</button>
{{/if}}
