<h2>QUERYZ</h2>
{{new-query question=question saveQuery="saveQuery"}}
{{#each model.questions as |question|}}
{{question-tile question=question delete="delete" changeQuery="changeQuery"}}
{{/each}}
{{#each model.answers as |answer|}}
<p>NAME:{{answer.name}}</p>
<p>SOLUTION:{{answer.solution}}</p>
{{/each}}
{{new-answer answer=answer giveAnswer='giveAnswer'}}
{{#link-to 'aboute'}}about us{{/link-to}}
{{#link-to 'contact'}}contact us{{/link-to}}
